.wrapper {
	width:100%;
	height:80vh;
}
.row {
	width:100%;
}

.btn-light, .btn-light:focus {
	width:100%;
	border-radius: 100px;
	font-size: 25px;
	border-color: white;
	background-color: transparent;
	color:white;
}

.btn-light:hover {
	background-color: white;
	color: #000000;
	border-color: white;
}


@media only screen and (max-width: 1024px) {
  .col-lg-3 a {
  	width:250px;
  }
  .last-button {
  	margin-top: 2vh;
  }
}







