/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

body {
	/*background-image: url("img/background.jpg");*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-attachment: fixed;*/
}

.go {
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #EAE5BB;
}

.mur {
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color:#C7F8EC;
}

.nav-item-style {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color:#FFFFFF !important;
}

@media only screen and (max-width: 576px) {
  .navbar-brand span {
  	font-size: 25px;
  }
  .nav-link {
  	font-size: 
  }
}