.wrapper {
	height: 80vh;
}
.poppins {
	font-family: 'Poppins';
	font-size: 35px;
	font-weight: 700;
}
.start {
	background-color: #FFFFFF;
	color: #000000;
}


.custom-select {
	background-color: #000000;
	color: #FFFFFF;
}

.input-group {
	width:500px;
}

.btn-light, .btn-light:focus {
	/*width:15vw;*/
	width: 250px;
	border-radius: 100px;
	font-size: 25px;
	border-color: white;
	background-color: transparent;
	color:white;
}

.btn-light:hover {
	background-color: white;
	color: #000000;
	border-color: white;
}

.button-pilih {
	font-size: 25px;
	width: 250px;
	border-radius: 100px;
	font-size: 25px;
	border-color: white;
	background-color: white;
	color:black;
}

.button-pilih:hover {
	background-color: black;
	color: #FFFFFF;
	border-color: black;
}


@media only screen and (max-width: 576px) {
  .input-group {
  	width:300px;
  }
  .custom-select option {
  	font-size: 13px;
  }

  .btn-light, .btn-light:focus {
  	width:200px;
  }
}
